<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.QLThuVienConnectionString"
            connectionString="Data Source=DESKTOP-G0Q133G\SQLEXPRESS;Initial Catalog=QLThuVien;Persist Security Info=True;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>